<h2>Results</h2>
<p><%= @hash %></p>

<% @birds_to_display.each do |bird| %>
<p><%= bird.scientific_name %></p>
<p><%= bird.audio_url %></p>
  <div style="margin-bottom: 10px;">
    <img src="<%= bird.img_url %>" style="width: 100px; height: 100px;">
    <p><%= bird.scientific_name %></p>
  </div>
 <%= link_to "Learn More", show_bird_path(bird) %> 
<% end %>
