<h2 style="margin-top: 30px;">Rankings</h2>

<div class="card-container d-flex justify-content-center">
    <div class="card-content">
      <h5><strong>BirdUp! users with the most spotted birds</strong></h5>
        <div style="border: solid 1px; padding: 24px">
          <ol style="padding-left: 12px; padding-right: 12px;">
            <% 10.times do |i| %>
              <% if @rankings[i] == nil %>
              <% else %>
              <li class="d-flex justify-content-between">

                <span><%= i+1 %>.&nbsp<%= @rankings[i][:user] %>&nbsp&nbsp&nbsp&nbsp</span>

                <span> <%= @rankings[i][:spottings] %> Birds</span>
              </li>
              <% end %>
            <% end %>
          </ol>
        </div>
        <h4 style="margin-top: 12px;">You've spotted <%= @current_user_spottings %> birds!</h4>
        <h3>Your rank is #<%= @current_user_rank %></h3>
    </div>
</div>
