<h2 style="margin-top: 30px;">Rankings</h2>

<div class="card-container d-flex justify-content-center">
    <div class="card-content">
      <h4>BirdUp! users with the most spotted birds</h4>
        <div style="border: solid 1px rgb(180, 180, 180); padding: 24px; border-radius: 8px;">
          <ol style="padding-left: 12px; padding-right: 12px;">
            <% 10.times do |i| %>
              <% if @rankings[i] == nil %>
              <% else %>
              <li class="d-flex justify-content-between">

                <span style="font-size: 18px;"><%= i+1 %>.&nbsp<%= @rankings[i][:user] %>&nbsp&nbsp&nbsp&nbsp</span>

                <span style="font-size: 18px;"> <%= @rankings[i][:score] %> ⭐</span>
              </li>
              <% end %>
            <% end %>
          </ol>
        </div>
        <h4 style="margin-top: 12px;">You've spotted <%= @current_user_spottings %> birds!</h4>
        <h3>Your rank is #<%= @current_user_rank %></h3>
    </div>
</div>
