<%# <h5><%= spotting.bird.species %>
<%# <p><em><%= spotting.date%>
<%# <p><%= spotting.location %>

<img src="<%= spotting.bird.img_url %>", style="margin-bottom: 12px">
<p style="padding:8px"><strong><%= spotting.bird.species %></strong></p>
<p>Location:</p>
<p><%= spotting.location %></p>
<p>Date:</p>
<p><%= spotting.date %></p>

<%= link_to "See more", spotting_path(spotting), class: "btn poke-button-sm" %>
