<h2 style="margin-top: 30px;">Your Spotted List</h2>

<div class="card-container">
  <% @spottings.each do |spotting| %>
    <div class="card">
      <img src="<%= spotting.bird.img_url %>">
      <div class="card-content">
        <h4><strong><%= spotting.bird.species %></strong></h4>
        <h5>Spotted Location:</h5>
        <p><%= spotting.location %></p>
        <h5>Spotted Date:</h5>
        <p><%= spotting.date %></p>
      </div>
        <%= link_to "See more", spotting_path(spotting), class: "btn poke-button" %>
      </div>
    <% end %>
</div>

<div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
