<br>
<h2>Successful Spotting!</h2>

<div class="card-container d-flex justify-content-center">
  <div class="card-content">
    <p>Congrats you've added <%= @spotting.bird.species %> to your spotted list!</p>
    <div class="card">
      <img src="<%=@spotting.bird.img_url%>">
    </div>
    <div class="card-content">
      <p>Well done, You've now have spotted <%=@user_spottings%> birds!</p>
      <%= link_to "Your Spotting List", spottings_path, class: "poke-button p-1 m-2" %>
      <%= link_to "Rankings", ranking_index_path, class: "poke-button p-1 m-2"  %>
    </div>
  </div>
</div>
