<br>
<h2>Successful Spotting!</h2>

<div class="card-container d-flex justify-content-center">
  <div class="card-content">
    <p style="margin-bottom: 0">Congrats you've added <%= @spotting.bird.species %> to your spotted list!</p>
    <div class="card" style="margin-bottom: 0px">
      <img src="<%=@spotting.bird.img_url%>">
    </div>
    <div class="card-content">
      <%= link_to "Your Spotting List", spottings_path, class: "btn poke-button" %>
      <%= link_to "Rankings", ranking_index_path, class: "btn poke-button"  %>
      <h4 style ="padding-top: 12px">Well done, You've now have spotted <%=@current_user_spottings%> birds!</h4>
      <h4> #<%= @current_user_rank %> in your region</h4>
    </div>
  </div>
</div>
