<div style="display: flex; justify-content: right; padding-right: 20px; padding-top: 20px;">
  <%= link_to "Back To Results", :back, class: "btn poke-button" %>
</div>

  <div style="margin: 28px auto;">
    <h2 class="mt-3">Meet the <%= @bird.species %></h2>
  </div>
  <div class="card show-bird" style="margin: 0 auto;">
    <img src="<%= @bird.img_url %>">
    <div class="card-content">
      <h3><strong><%= @bird.species %></strong></h3>
        <p style="color: #636363"><em><%= @bird.scientific_name %></em></p>
      <div>
        <h4>Description:</h4>
        <p><%= @bird.description %></p>
      </div>
      <div>
        <h4>Birds' Song:</h4>
        <iframe src="https://xeno-canto.org/<%=@bird.audio_url%>/embed?simple=1" scrolling='no' frameborder='0' width='300' height='115'></iframe>
      </div>
      <div class="text-align-start">
        <h4>Distribution:</h4>
        <p><%= @bird.distribution %></p>
        <h4>Habitat:</h4>
        <p><%= @bird.habitat %></p>
      </div>
    </div>
  </div>

  <div class="form-container">
    <%= simple_form_for @spotting,  url: spottings_path, method: :post do |f| %>
      <%= f.input :bird_id, :as => :hidden, :input_html => { :value => params[:id] } %>
      <%= f.input :location %>
      <%= f.input :date,
        as: :string,
        input_html: { data: { controller: "datepicker" } }%>
      <%= f.button :submit, class:'poke-button' %>
    <% end %>
  </div>
</div>
